@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
html{
    font-size: 62.5%;
    /* 1rem = 10px */
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins", sans-serif;
}

p , li , a{
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
    line-height: 1.5;
}
a{
    text-decoration: none;

}
li{
    list-style: none;

}

/* theme  */
:root{
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color: #000a19;
    --para-color: #504e4d;
    --h-color: #0a043c;
    --white-color: #ffffff;
    --test: #070101;
    --btn-hover-bg-color: #003b99;
    --box-box-shadow: rgba(100 , 100 , 111 , 0.2) 0px 7px 29px 0px;
    --footer-bg-color: #040d12;


}

/* navbar */
.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 2.6rem 2.4rem;
}


/* layouts here  */
.grid{
    display: grid;
}
.grid-two-cols{
    grid-template-columns: repeat(2 , 1fr);
}
.grid-three-cols{
    grid-template-columns: repeat(3 , 1fr);
    gap: 7rem;
}
.grid-four-cols{
    grid-template-columns: repeat(4 , 1fr);
    /* gap: 7rem; */
}

/* reusable module */
.section-common-heading{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;

}
.section-common-subheading{
    color: var(--heading-color);
}
.section-common-title{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
}

.fa-brands{
    font-size: 2.5rem;
    padding: 2rem;
    background-color: var(--supporting-color);
    border-radius: 50%;
    color: var(--main-color);

}

/* state */

.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--h-color);
}

.section-navbar{
    width: 100%;
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;

}
.section-navbar .container ul{
    display: flex;
    gap: 3.2rem;
    text-transform: capitalize;

    & li a{
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;


        &::after{
            content: "";
            position: absolute;
            bottom: -0.6rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all .3s;
    
        }
    }

    & li a:hover::after{
        width: 100%;
    }


}

/* navbar ends here */


/* MAIN */
main{
    position: relative;
    background-image: linear-gradient(to top right, #3d86fa , #4484fb , #679eff , #b3d2ff , #ebf3fe);
}

.name{
    color: #ec3700;
    text-transform: uppercase;
    /* text-decoration: underline; */
}
.section-hero .grid{
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading{
        letter-spacing: .2rem;
        font-size: 1.7rem;
        word-spacing: .2rem;
        color: var(--btn-hover-bg-color);
        font-weight: 700;
    }

    & .hero-heading{
        font-size: 5.8rem;
        /* line-height: 1.5rem; */
        font-family: 'Jost';
        color: var(--h-color);
        font-weight: 900;
    }

    & .hero-para{
        color: var(--white-color);
        margin: 2rem 0 4rem 0;
    }
}

.section-hero-image{
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

/* shape divider */
/* this design is taken from the shape divider website */

.custom-shape-divider-bottom-1747030868 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747030868 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1747030868 .shape-fill {
    fill: #FFFFFF;
}

/* start About Section */

.section-about .about-div{
    text-align: center;
}



.section-about img{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 15rem;
    height: auto;
    border-radius: 50%;
    transition: all .3s linear;
}

.about-div .icon:hover > img{
    transform: rotate(360deg);
    /* background-color: var(--btn-hover-bg-color); */
    background-image: linear-gradient(to right , #0575e6 , #021b79);
}

/* end About Section */

/* course section starts here  */



/* use cdnjs to import fonts from the font awesome */

.major-container{

    background-color: var(--supporting-color);
    max-width: 142rem;
    margin: 0 auto;
    padding: 2.6rem 2.4rem;
}

.section-courses .grid{
    gap: 3.2;
}
.section-courses .course-div{
    padding: 3.2rem;

}
.section-courses .course-div:hover{
    box-shadow: var(--box-box-shadow);
}

/* to color the icons to color in the courses */

/* method one */


/* why choose section here  */

.section-why--choose .grid{
    gap: 9.6rem;
}
.section-why--choose .why-choose-div{
    padding: 2rem;
    border-radius: 10px;
}
.section-why--choose .text-align-right .why-choose-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    text-align: right;
}
.section-why--choose .why-choose-div:hover{
    box-shadow: var(--box-box-shadow);
}

.common-text--highlight{
    width: 5rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.4rem;
    font-weight: 700;
}

.choose-center--div{
    margin-top: 18rem;

}
.choose-center--div img{
    width: 110%;
    height: auto;
    /* display: flex; */
    background-color: var(--supporting-color);
    border-radius: 50%;
    animation: circle 5s linear infinite alternate;
}

@keyframes circle {
    0%{
        background-color: #b3d0ff;
    }
    25%{
        background-color: #80b1ff;
    }
    50%{
        background-color: #4d91ff;
    }
    75%{
        background-color: #99c0ff;
    }
    100%{
        background-color: #3381ff;
    }
}

.choose-center--div , figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose-center--div img:hover{
    background-image: linear-gradient(to right , #0575e6 , #021b79);
}

.icon{
    font-size: 3.5rem;
}

/* END SECTION starts here */


.section-contact-homepage{
    width: 60%;
    min-height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px , rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    margin-bottom: 5rem;
    position: relative;
    bottom: -17rem;
    background-color: var(--bg-color);

    & .grid{
        align-items: center;
    }
}

.contact-content .btn a{
    font-size: 1.7rem;
    color: var(--bg-color);
}

.contact-title{
    font-size: 3.8rem;
    line-height: 1.2;
}
.contact-content p{
    margin: 1.2rem 0 2.4rem 0;
}


.section-contact-homepage img{
    width: 90%;
    height: auto;
}



/* footer section starts here  */



footer{
    padding: 17rem 0 10rem 0 ;
    background-color: var(--footer-bg-color);
}
.footer-2-div,
.footer-3-div,
.footer-4-div
{
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end; */
    text-align: end;
}
.social-footer-icons{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin-top: .7rem;
}
.footer-subheading{
    color: #91959a;
    font-weight: 700;
    font-size: 3rem;
}
.social-footer-icons a i{
    color: var(--bg-color);
    font-size: 2rem;
    background-color: #1c2127;
}



/* END section ends here */


/* blog page starts here  */
.section-blog .grid{
    gap: 1.2rem;
}
.blog{
    /* padding: 1.2rem; */
    transition: all 0.3s linear;
}
.blog:hover{
    scale: 1.1;
    box-shadow: var(--box-box-shadow);
}
.flex{
    display: flex;
}
.card-content{
    padding:  1.5rem ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.card-content .second-line{
    justify-content: space-between;
}
.card-content .second-line-chunks{
    gap: 2rem;
}
.fa-calendar,
.fa-arrow-right{
    font-size: 2rem;
}

/* blog page ends here  */

